input {
  border: none;
  /* border: solid 1px; */
  /* border-radius: 16px; */
  width: 280px;
  height: 45px;
  background-color: rgba(20, 133, 204, 0.3);
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 15px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  transition: all 0.2s ease;
}

input:hover {
  transform: scale(1.2, 1.2);
  /* background-color: rgba(12, 84, 127, 0.9); */

}

 .ofh {
  margin: 40px 0px;
  padding-left: 75px;
  padding-right: 75px;
  /* border-bottom: 1px solid black; */
  background-color: rgba(12, 84, 127, 0.85);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}

.bcr {
  padding: 30px 0 20px 0px;
  color: rgba(25, 167, 255, 1);
  align-self: center;
}

.nmt {
  margin-top: 0;
  -webkit-text-shadow: 1px 1px 4px rgba(0,0,0,1);
  -moz-text-shadow: 1px 1px 4px rgba(0,0,0,1);
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
}
