input {
  border: none;
  border: solid 1px;
  border-radius: 16px;
  width: 350px;
  height: 45px;
  background-color: rgba(20, 133, 204, 0.3);
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 15px;
}

.ofh {
  margin-top: 40px;
  border-bottom: 1px solid black;
}

.bcr {
  background-color: #1485CC;
  max-width: 380px;
  margin-left: 30px;
  padding: 10px 10px 20px 20px;
  border: 1px solid black;
  /* border-radius: 10px; */
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.nmt {
  margin-top: 0;
}
