input {
  border: none;
  border: solid 1px;
  /* border-radius: 16px; */
  width: 280px;
  height: 45px;
  background-color: rgba(20, 133, 204, 0.3);
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 15px;
  transition: all 0.2s ease;
}

.bcr:hover {
  transform: scale(1.2, 1.2);
  background-color: rgba(12, 84, 127, 0.9);

}

input:hover {
  transform: scale(1.2, 1.2);
  /* background-color: rgba(12, 84, 127, 0.9); */

}

/* .ofh {
  margin-top: 40px;
  border-bottom: 1px solid black;
} */

.bcr {
  margin-top: -130px;
  background-color: rgba(12, 84, 127, 0.85);
  max-width: 300px;
  margin-left: 10px;
  padding: 10px 10px 20px 10px;
  border: 2px solid rgba(30, 107, 152, 1);
  /* border-radius: 10px; */
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,1);
  z-index: 10;
  position: absolute;
  transition: all 0.2s ease;
}

.nmt {
  margin-top: 0;
}
