.cb {
  color: #1485CC;
}

.cw {
  color: #fff;
}

.ft {
  font-family: 'Cardo', serif;
}

.ff {
  font-family: 'Josefin Sans', sans-serif;
}

.fullContent {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: " . contenu . ";
}

.contenu {
  grid-area: contenu;
  max-width: 100%;
  width: 990px;
  /* border: solid 1px black; */
  justify-self: center;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: " title menu-driven";
  justify-content: center;
  
  border-radius: 5px;
}

.title {
  grid-area: title;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 50px;
  /* text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px; */
}

.menu {
  grid-area: menu-driven;
  align-self: center;
  padding-top: 10px;
}

a {
  padding-right: 20px;
  text-decoration: underline;
  /* color: #fff; */
  font-weight: 600;
  font-size: 20px;
}
