.cb {
  color: #1485CC;
}

.cw {
  color: #fff;
}

.ft {
  font-family: 'Cardo', serif;
}

.ff {
  font-family: 'Josefin Sans', sans-serif;
}

.pl2 {
  padding-left: 40px;
}

.b-sw1 {
  border: solid white 1px;
}



.fullContent {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-template-areas: " header contenu . ";
}

.contenu {
  grid-area: contenu;
  max-width: 1110px;
  width: 100%;
  justify-self: center;
  background-repeat: no-repeat;
  /* background-color: #EFEFEF; */

}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;
  /* background-color: #137DBF; */
  transition: all 0.15s linear;
  height: 100vh;
}


.title {
  grid-area: title;
  margin: 0;
  padding: 30px;
  font-size: 50px;
  white-space: nowrap;
  overflow-x: auto;
  letter-spacing: 7px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  z-index: 10;
  background-color: rgba(12, 83, 127, 0.85);
  margin: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 8;
}

a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 30px 0 30px 0;
  background-color: rgba(12, 83, 127, 0.65);
  margin: 7px 80px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

/* .content {
  margin-top: 180px;
} */

/* .active {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.75);
  box-shadow: 0 4px 3px -3px rgba(0,0,0,0.75);
} */
